extends layout
block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/index.css')
  script(src='/scripts/get-location.js')
  script(src='/scripts/main-page.js')
  
  .container 

    .located
      h1#username='Welcome, '
      h1#location='You\'re doing a quiz for: '

    .content 
      .table 
        table(style='width:30%', border='1')
          tr
            th Rank
            th Name
            th Total Points
          each val, index in [['zero', 'one', 'two'],['zero', 'one', 'two'],['zero', 'one', 'two'],['zero', 'one', 'two'],['zero', 'one', 'two']]
            th= val[0]
            th=val[1]
            th=val[2]
            tr

      .start
        button.start-quiz(onclick='window.location.href="/quiz"')='Start the quiz'
        
      .scaling
        scalingButton(onclick='body.style.fontSize = "1.0em"')='Normal' 
        scalingButton(onclick='body.style.fontSize = "1.2em"')='Medium'
        scalingButton(onclick='body.style.fontSize = "1.5em"')='Large'
        
        


