extends layout
block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/index.css')
  script(src='/scripts/get-location.js')
  script(src='/scripts/main-page.js')
  meta(name ='viewport' content='width=device-width, initial-scale=1')
  
  .container 

    .located
      h1#username='Welcome, '
      h1#location='You\'re doing a quiz for: '

    .content 
      #top
      

      .start
        button.start-quiz(onclick='window.location.href="/quiz"')='Start the quiz'
        
      .scaling
        scalingButton(onclick='body.style.fontSize = "1.0em"')='Normal' 
        scalingButton(onclick='body.style.fontSize = "1.2em"')='Medium'
        scalingButton(onclick='body.style.fontSize = "1.5em"')='Large'
        
        


