extends layout
block content
  link(rel='stylesheet' href='/stylesheets/index.css')

  script(src='/scripts/main-page.js')
  
  .container 
    .upper
      h1#username='Welcome, '
      h1#location='You\'re doing a quiz for: '

    .lower
      #leaderboard

      .start
        button.start-quiz(onclick='window.location.href="/quiz"')='Start the quiz'
          
        .scaling
          button.scale(onclick='body.style.fontSize = "1.0em"')='Normal' 
          button.scale(onclick='body.style.fontSize = "1.2em"')='Medium'
          button.scale(onclick='body.style.fontSize = "1.5em"')='Large'
        
        


