extends layout

block content
  link(rel='stylesheet' href='/stylesheets/index.css')
  script.
    //alert("working")
    alert(sessionStorage.getItem("user"))
  .container 

    .located
       
      
      h1='You are doing a quiz for:'
      h1=location
      h1= username

    .content 
      .table 
        table(style='width:20%', border='1')
          tr
            th Rank
            th Name
            th Total point
          each val, index in [['zero', 'one', 'two'],['zero', 'one', 'two'],['zero', 'one', 'two'],['zero', 'one', 'two'],['zero', 'one', 'two']]
            th= val[0]
            th=val[1]
            th=val[2]
            tr

      .start
        button.start-quiz(onclick='window.location.href="/quiz"')='Start the quiz'
        
        
        


