doctype html
html
  head
    title= title
    meta(name ='viewport' content='width=device-width, initial-scale=1')
    meta(name="google-signin-client_id",content=process.env.CLIENT_ID)
  
    script.
      
      function onLoad(){
         
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
  
      }
    script(async,defer,src='https://apis.google.com/js/platform.js?onload=onLoad')
    script(async,defer,src='https://apis.google.com/js/platform.js')
      

    link(rel='stylesheet', href='/stylesheets/style.css')

    //jquery include
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

  body
    .header 
      .logo
        a(href='/index')
          img(src='/images/logo.png')
      button.signin#authentication(onclick='window.location.href="/login"')='Sign in'
      
    
    .page
      block content

    .footer 
      a(href='/terms-of-use')='Terms of Use'
      a(href='/support')='Support'
      a(href='/about')='About'