extends layout
block content
    head
        link(rel='stylesheet' href='/stylesheets/login.css')
        script(src='https://apis.google.com/js/platform.js')
        script(src='/scripts/client-login.js')
        <meta>
        meta(name="google-signin-client_id" ,content=process.env.CLIENT_ID)
        #my-signin2
        script.
           
        
        .login
            h1='The best way to get familiar with your area'
            p='To get started just trying, login or play as a guest'
            button.guest-login(onclick='window.location.href="/"')='Play as a guest'
        .login
            .social-login 
                h2='Login'
                .g-signin2(data-onsuccess="onSignIn", data-width="535", data-height="50", data-longtitle="true", data-theme="dark")
                    
                        
                    
                    
                    
                



