extends layout
block content
    link(rel='stylesheet' href='/stylesheets/quiz.css')

    script(src='/scripts/take-quiz.js')
    script(src='/scripts/client-get-quiz.js')

    #quiz 
        h1='Question?'
        button.a1='Answer 1'
        br
        button.a2='Answer 2'
        br
        button.a3='Answer 3'
        br
        button.a4='Answer 4'

