extends layout

block content
    link(rel="stylesheet" href="/stylesheets/quiz.css")
    link(rel="stylesheet" href="/stylesheets/score.css")
    script(src="scripts/scores.js")
    script(src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js")

   

    .quiz-end
        h1='Well Done!'
        h3='You scored:'
        #score 
        button.home(onclick='window.location.href="/"')='Home'
        br
        button.play-again(onclick='window.location.href="/quiz"')='Play Again'
        br
        button.review-answers(onclick='window.location.href="/review"')='Review Answers'
        br
        button.tweet-score(onclick='window.location.href="//twitter.com/intent/tweet?text=Check%20out%20my%20score%20on%20GeoQuiz!%3A&url=http%3A%2F%2Fgeo-quiz.xyz/%2F"')='Share your score'
    canvas#my-canvas
